.bodyimg{
  background: url("https://static.sciencelearn.org.nz/images/images/000/003/176/embed/FIR_ITV_RuralFireRisk_Weather_CloudySky_123RF_901534.jpg?1522314128")no-repeat;
  background-size: cover;
}

.wetherBg{
  
  height: 62vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}
.heading{
  
  font-weight: 700;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 250px;
  background-color: aquamarine;
}
.weathorIcon{
  margin-top: 1rem;
  width: 100px;
  height: 100px;
}
.weathorCity{
  font-size: 35px;
}
.weathorTemp{
  font-size:55px;
  font-weight: 700;
}